// Specific CSS for your home-page
form{
    position: absolute;
    top: 37%;
    width: 1089px;
    left: 51%;
    transform: translate(-50%);
  }
h2 {
  font-weight: 100;
  position: relative;
  top: 0vh;
  opacity: 0.8;
  transition: 1.5s;
}
.backgroundhome{
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dbqegklxb/image/upload/v1582630446/landingbackground_eqxmxr.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: 1.5s;
}
.blur{
  filter: blur(10px)
}
