// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  scroll-behavior: smooth;
}
  body{
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(117, 117, 117, 0.8)), url("https://res.cloudinary.com/dbqegklxb/image/upload/v1582630446/Website%20Assets/landingbackground_eqxmxr.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
