// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  font-family: 'Raleway';
  height: 100vh;
  background: rgb(148,190,219);
  background: -webkit-linear-gradient(rgba(148,190,219,1) 0%, rgba(81,112,124,1) 100%);
  background: -o-linear-gradient(rgba(148,190,219,1) 0%, rgba(81,112,124,1) 100%);
  background: linear-gradient(rgba(148,190,219,1) 0%, rgba(81,112,124,1) 100%);
}
