// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("https://res.cloudinary.com/dbqegklxb/image/upload/v1582630446/landingbackground_eqxmxr.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: grayscale(0.7) opacity(0.8);
  background-attachment: fixed;
}
