<div class="container py-3">
  <p>Update the details of your car</p>
</div>

<%= render partial: 'form', owner: @owner, car: @car %>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
